<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <script type="application/javascript" src= "/js/tinymce-config.js"></script>
    <title>Anime Ninja | Watch your favorite animes here</title>
</head>